<div class="container">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <lable>Email address</lable>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <lable>Password</lable>
                        <input type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Register</div>
            <div class="panel-body">
                 <form name="register" ng-submit="authentication.register()">
                    <div class="form-group">
                        <lable>Email address</lable>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <lable>Password</lable>
                        <input type="password" class="form-control" ng-model="pwd" name="pwd">
                    </div>
                    <div class="form-group">
                        <lable>Password Confirm</lable>
                        <input type="password" class="form-control" compare-to="pwd" ng-model="pwdConfirm" name="pwdConfirm">
                    </div>
                    <span style="color:red" ng-show="register.pwdConfirm.$dirty && register.pwdConfirm.$invalid">Passwords don't match</span>
                     </br>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
